body {
	font-family: "Snowburst One";
	background-color: #76564b;
	color: #fefce7;
}

p {
	font-size: 2.5vh;
	margin: 0;
	overflow: hidden;
}

a {
	cursor: pointer;
	color: #68bdfb;
	font-size: 2vh;
}

a:hover {
	color: #fefce7;
	text-decoration: none;
}

h1 {
	font-size: 5vh;
}

input {
	color: #76564b;
	background-color: #fefce7;
	font-weight: bold;
	border-radius: 10%;
}

button {
	margin: auto;
	padding: auto;
	cursor: pointer;
	width: 4vh;
	height: 4vh;
	color: #fefce7;
	border: none;
	border-radius: 100%;
}

.btnRemove {
	width: 15vh;
	height: 6vh;
	font-size: 3vh;
	color: white;
	background-color: #fb5050;
	border-radius: 0;
}

.btnSave {
	width: 15vh;
	height: 6vh;
	font-size: 3vh;
	color: #76564b;
	background-color: #fefce7;
}

.btnMinus {
	font-family: Century Gothic, Calibri;
	background-color: #f56565;
}

.btnPlus {
	font-family: Century Gothic, Calibri;
	background-color: #90f26d;
}

.circle {
	width: 12vh;
	height: 12vh;
	border-radius: 50%;
	background-color: #fefce7;
	margin: auto;
}

.divHeight {
	height: 25vh;
}

.instruction {
	font-size: 2.5vh;
	color: #68bdfb;
}
